
@{
    ViewBag.Title = "Blog1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">

                            <img src="~/Content/assets/img/efatura nedir extra mini.jpg" alt="efatura başvuru" class="img-fluid blog-resim" style="margin-top:30px" />
                        </div>

                        <h2 class="entry-title baslik">E-FATURA NEDİR? AVANTAJLARI NELERDİR?</h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <p><time datetime="2020-01-01">01.04.2021</time></p></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><p><time datetime="4dk">Okuma Süresi: 4dk</time></p></li>
                            </ul>
                        </div>

                        <div class="entry-content" style="text-align:justify">
                            <p class="blog_ic_yazi">
                                Elektronik fatura sistemleri, konfor ve rahatlık açısından giderek daha yaygın hale geliyor.
                                Müşteriler ve şirket arasında bir güven ortamı yaratır.
                                Hızından dolayı zamandan ve paradan tasarruf edebilir.

                            </p>

                            <p class="blog_ic_yazi">
                                E-Fatura sisteminin zorunlu kullanıcısı olmasanız bile geçiş yapmayı seçebilirsiniz.
                                Peki geçiş için gerekli prosedürler nelerdir?
                            </p>

                            <blockquote>
                                <p class="baslik" style="font-weight:bold">
                                    E–Fatura Nedir? Nasıl başvuru yapılır?
                                </p>
                            </blockquote>

                            <p class="blog_ic_yazi">
                                Elektronik fatura sistemi, ticari alandaki teknolojik gelişmenin avantajlarından biridir.
                                Elektronik fatura sistemi, elektronik dönüştürme adı verilen bir süreçle ortaya çıktı.
                                Dijital ortamda fiilen elde ettiğiniz faturalara ve fatura işleme sürecinin gerçekleşmesine elektronik fatura denir.
                                Dünyada ve ülkemde yaygın olarak kullanılan elektronik fatura sistemi sayesinde tüm işletmeler ve mükellefler kolaylıkla elektronik fatura kesebilmekte ve gerektiğinde eski faturalara kolaylıkla ulaşabilmektedir. Elektronik fatura sistemi kağıt faturalarla aynı standartlara sahip olduğu için hukuka uygun olarak derlenmektedir.
                                Ek olarak, elektronik faturalar kağıt israfını ve nakliye maliyetlerini önleyebilir. Bu nedenle elektronik fatura sistemi hızla popüler hale geldi.
                            </p>

                            <h3 class="baslik" style="font-weight:bold">E-Fatura Başvurusu Nasıl Yapılır?</h3>
                            <p class="blog_ic_yazi">
                                Elektronik fatura sistemine geçmek istiyorsanız, vergi idare sistemine kayıt olmanız ve elektronik fatura aktivasyon işlemini tamamlamanız gerekmektedir.
                                Tüm süreçlerin kolay ve adım adım halledilebilmesi için doğru adımları izlemelisiniz. Peki bu adımlar nelerdir?<br /> <br />

                                <span style="font-weight:bold">Mali mühür temini:</span> Öncelikle şirketinizin Mali Mühür Sertifikası’na sahip olması için başvurmalısınız. Mali Mühür Sertifikası, Gelir İdaresi Başkanlığı’nın düzenlediği bir elektronik mühürdür.
                                Bu mührü elde edebilmeniz için TÜBİTAK’a bağlı olan Kamu Sertifikasyon Merkezi (KSM) internet istesine girerek başvurunuzu yaptıktan sonra TÜBİTAK’a Mali Mühür Sertifikası ücreti ödemelisiniz.
                                Başvuru sürecinizi tamamladıktan sonra sertifikanızın size ulaşma süresi 3-10 gün arasındadır.<br />
                                <span style="font-weight:bold">Online işlemler:</span> Gerekli pin işlemlerini Kamu Sertifikasyon Merkezi’ne ait internet sitesinin online işlemler kısmından halledebilirsiniz.
                                Mali Mühür Sertifikası almış bir kurum ya da mükellef olmanız durumunda e-posta, telefon gibi iletişim bilgilerinizi online işlemler kısmında güncelleyebilirsiniz. <br />
                                <span style="font-weight:bold">E-fatura başvurusu:</span> Gelir İdaresi Başkanlığı’na ait ”e-fatura canlı ortam başvuru” formunu doldurarak e-fatura kullanmak istediğinizi beyan etmiş ve başvurunuzu yapmış olursunuz.
                                Sonrasında başvurunuzu kontrol etmek isterseniz e-fatura portalı sorgulama ekranına girerek gerekli kontrolü sağlayabilirsiniz. <br />
                                <span style="font-weight:bold">E-fatura aktivasyonu:</span> Son adım diyebileceğimiz bu adımda, elektronik ortam üzerinden fatura gönderip almanız için oluşturduğunuz hesabı aktif hale getirmeniz gerekir. Bunun için, e-fatura başvuru rehberinde var olan bir programı bilgisayarınıza indirerek çalıştırmanız ve mali mührünüzü kullanmanız gerekir. Aktivasyon işlemi sonucunda e-fatura sisteminiz işleme açılmış olur.

                            </p>

                            <img src="~/Content/assets/img/efaturanın avantajları nelerdir.jpg" class="img-fluid blog-resim" alt="gelir gider takibi">

                            <h3 class="baslik" style="font-weight:bold">E-Faturanın Avantajları Nelerdir?</h3>
                            <p class="blog_ic_yazi">
                                E-Faturanın hayatımıza getirdiği birçok avantaj bulunmaktadır. Kısaca bahsetmek gerekirse;
                                <ul>
                                    <li class="blog_ic_yazi"> İşletmenizin maliyetini azaltır.</li>
                                    <li class="blog_ic_yazi"> Kağıt fatura bastırmanıza gerek kalmaz. e-fatura elektronik ortamda hazırlanır ve gönderilir.</li>
                                    <li class="blog_ic_yazi"> Faturaların müşteriye gönderimi için kargolamaya gerek kalmaz. e-faturayı anında müşterinize iletilir.</li>
                                    <li class="blog_ic_yazi"> e-Faturalar dijital ortamda arşivlenir ve arşivleme işleminden kurtulursunuz.</li>
                                    <li class="blog_ic_yazi">Faturalarınızın kaybolma riskini ortadan kaldırır.</li>
                                    <li class="blog_ic_yazi">Hem çevre dostu hemde tasarrufludur.</li>
                                    <li class="blog_ic_yazi">Faturaları daha hızlı hazırlamanızı sağladığı için zamandan tasarruf edersiniz.</li>
                                    <li class="blog_ic_yazi">Tahsilatlarınızı hızlandırmanızı sağlar.</li>
                                </ul>
                            </p>
                            <p>

                            </p>

                        </div>

                    </article><!-- End blog entry -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">



                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>

                                <li><a class="yazi_boyut" href="/Efatura/Blog1">E-Fatura</a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog3">Muhasebe </a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog2">E-Arşiv </a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog1">E-İrsaliye </a></li>

                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">

                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/efaturanın avantajları nelerdir.jpg" style="max-width:250px" class="blog-sag" alt="ucretsiz e fatura" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog1" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>

                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/ücretsiz efatura nasıl kullanılır extra mini.jpg" style="max-width:250px" class="blog-sag" alt="e fatura fiyatları" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog2" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>

                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/efatura zorunlulupu extra küçük.jpg" style="max-width:250px" class="blog-sag" alt="e-fatura" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog3" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>



                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a class="yazi_boyut" href="#">E-Fatura</a></li>
                                <li><a class="yazi_boyut" href="#">Ön Muhasebe</a></li>
                                <li><a class="yazi_boyut" href="#">E-İrsaliye</a></li>
                                <li><a class="yazi_boyut" href="#">Muhasebe</a></li>
                                <li><a class="yazi_boyut" href="#">E-Arşiv</a></li>
                                <li><a class="yazi_boyut" href="#">E-Defter</a></li>

                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->
    <!-- start: footer -->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>

                    <div class="col-md-5 footer-item">
                        <h4>Sayfa LİNKLERİ</h4>
                        <ul class="menu-list">
                            <li><a href="/Efatura/Index" title="Anasayfa">Anasayfa</a></li>
                            <li><a href="/Efatura/#about" title="E-Fatura">E-Fatura</a></li>
                            <li><a href="/Efatura/Ozellikler" title="Ozellikler">Özellikler</a></li>
                            <li><a href="/Efatura/Kampanyalar" title="Kampanyalar">Kampanyalar</a></li>
                            <li><a href="/Efatura/#faq" title="SSS">Sıkça Sorulan Sorular</a></li>
                            <li><a href="/Efatura/#blog" title="Destek">Blog</a></li>
                            <li><a href="/Efatura/iletisim" title="İletişim">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 footer-item">
                        <h4>ÖZELLİKLER</h4>
                        <ul class="menu-list">
                            <li><a href="/Efatura/#services" title="efatura modül">Fatura Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura cari kart">Cari Kart Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura stok">Stok Takibi Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura rapoarlama">Raporlama sistemi</a></li>
                            <li><a href="/Efatura/#services" title="efatura arşivleme">Arşivleme</a></li>
                            <li><a href="/Efatura/#services" title="efatura gönderme">Gönderme</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    © Copyright <strong><span>ONLINEFATURA</span></strong>. Tüm Hakları Saklıdır. ONLINEFATURA bir <a id="ayri" href="https://www.bilsoft.com/" title="www.bilsoft.com"> Bilsoft Yazılım </a>  Kuruluşudur. &nbsp;<a href="/Efatura/KVKK" title="Kullanım Şartları"<strong><span>Çerez Politikası</span></a><strong />
                </div>
            </div>
        </footer>




    </section>
    <!-- end: footer -->

</main><!-- End #main -->
