
@{
    ViewBag.Title = "Blog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/Content/assets/img/ücretsiz efatura nasıl kullanılır extra mini.jpg" alt="ücretsiz e fatura" class="img-fluid blog-resim" style="margin-top:30px" />

                        </div>

                        <h2 class="entry-title"> Ücretsiz E-Fatura Nasıl Kullanılır?</h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <p><time datetime="2020-01-01">09.05.2021</time></p></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><p><time datetime="4dk">Okuma Süresi: 4dk</time></p></li>
                            </ul>
                        </div>

                        <div class="entry-content" style="text-align:justify">
                            <p>
                                Ücretsiz e-Fatura Kullanımına ilişkin yöntemleri derlediğimiz yazımızda tüm ayrıntıları ve metodları bulabileceksiniz.

                            </p>

                            <p>
                                E-Fatura’nın güvenli ve hızlı olmasının beraberinde faturaların elektronik ortamda güvenle kullanılabilmesi sayesinde
                                bu sistem çağımızda giderek popüler hale gelmiştir. <br />
                                Tahsilat süreçlerini hızlandırmak isteyen firmalar bedava dağıttığı
                                e-Fatura kullanarak hem maliyetten hem vakitten tasarruf eder.
                                Peki, e-Fatura nasıl kesilir, nasıl sisteme geçiş yapılır diye merak ediyorsanız, okumaya devam edin. İşte ayrıntılar!
                            </p>

                            <blockquote>
                                <p class="baslik" style="font-weight:bold">
                                    E-Faturaya Nasıl Başvurulur?

                                </p>
                            </blockquote>

                            <p>
                                E-Fatura başvurusu yapılmak isteniyorsa, ilk önce “Mali Mühür Sertifikası” için başvuru yapmalıdır.
                                Kamu Sertifikasyon Merkezi (KSM) TÜBİTAK’a bağlı bir kurumdur ve mali mühür başvurusu buradan online olarak yapılır.
                                Başvuru süreci tamamlanıp, ödeme yapıldıktan sonraki 1 hafta içerisinde sertifika alıcısına ulaşır.
                                İkinci adımda ise Gelir İdaresi Başkanlığı’nda e-Fatura başvurusu için form doldurulmalıdır.
                            </p>

                            <h3>E-Faturaya Nasıl Geçilir?</h3>
                            <p>
                                E-Faturayı mali avantajlarından dolayı ya da zorunlu olarak kullanmanız gerekiyorsa geçiş yapmak oldukça kolaydır.
                                GİB Portal, Gelir İdaresi Başkanlığı ve özel entegratör üzerinden geçiş yapılabilir.
                                Başvuru süreçlerini tamamlayanlar direkt olarak GİB web sitesinden işlemlere başlayabilir.
                                <br />
                                Şahıs firmalarında elektronik imza kullananlar e-imza ile e-fatura başvuru sürecini yönetebilir.
                                Zorunlu olarak geçiş yapacak işletmeler ise direkt olarak mali mühür ve e-Fatura sistemine geçiş yapmalıdır.
                                İsteğe bağlı e-Fatura kullanıcısı olacak firmalarsa, yılın istedikleri herhangi bir zamanında e-faturaya geçiş talep edebilirler.
                            </p>

                            <img src="~/Content/assets/img/efatura kurulmu online olarak nasıl yapılır.jpg" class="img-fluid blog-resim" alt="e fatura entegratörü">

                            <h3>E-Fatura Kurulumu Online Olarak Nasıl Yapılır?</h3>
                            <p>
                                E-Fatura kullanmak için ön müracaat ve mali mühür alanlar, e-Fatura kurulumunu online şekilde kısa bir süre içinde yapabilir.
                                Bunun için Gelir İdaresi Başkanlığı sitesine online olarak giriş yapmanız gerekir. Buradan yapılan müracaatların ardından özel entegratör protokolü yapılır.
                                Sözleşmedeki bilgilerle beraber şirket hesabı açılır ve çoğu portalda olduğu gibi kullanıcı adı ile şifre girmeniz istenir.
                                Daha sonra e-Fatura ve e-Arşiv için gerekli tasarımlar uygulanır.
                                Sistemdeki aktivasyon işlemleri gerçekleştikten sonra online olarak e-Fatura kullanmaya başlayabilirsiniz.

                            </p>



                        </div>

                    </article><!-- End blog entry -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">



                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>

                                <li><a class="yazi_boyut" href="/Efatura/Blog1">E-Fatura</a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog3">Muhasebe </a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog2">E-Arşiv </a></li>
                                <li><a class="yazi_boyut" href="/Efatura/Blog1">E-İrsaliye </a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/efaturanın avantajları nelerdir.jpg" style="max-width:250px" class="blog-sag" alt="ucretsiz e fatura" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog1" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>

                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/ücretsiz efatura nasıl kullanılır extra mini.jpg" style="max-width:250px" class="blog-sag" alt="e fatura fiyatları" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog2" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>

                            <div class="post-item clearfix">

                                <img src="~/Content/assets/img/efatura zorunlulupu extra küçük.jpg" style="max-width:250px" class="blog-sag" alt="e-fatura" />
                                <h4><a class="baslik blog_yazilari" href="/Efatura/Blog3" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>
                                <time datetime="2020-01-01"></time>
                            </div>


                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">E-Fatura</a></li>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">Ön Muhasebe</a></li>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">E-İrsaliye</a></li>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">Muhasebe</a></li>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">E-Arşiv</a></li>
                                <li><a class="baslik  yazi_boyut blog_yazilari" href="#">E-Defter</a></li>

                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->
    <!-- start: footer -->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>

                    <div class="col-md-5 footer-item">
                        <h4>Sayfa LİNKLERİ</h4>
                        <ul class="menu-list">
                            <li><a href="/Efatura/Index" title="Anasayfa">Anasayfa</a></li>
                            <li><a href="/Efatura/#about" title="E-Fatura">E-Fatura</a></li>
                            <li><a href="/Efatura/Ozellikler" title="Ozellikler">Özellikler</a></li>
                            <li><a href="/Efatura/Kampanyalar" title="Kampanyalar">Kampanyalar</a></li>
                            <li><a href="/Efatura/#faq" title="SSS">Sıkça Sorulan Sorular</a></li>
                            <li><a href="/Efatura/#blog" title="Destek">Blog</a></li>
                            <li><a href="/Efatura/iletisim" title="İletişim">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 footer-item">
                        <h4>ÖZELLİKLER</h4>
                        <ul class="menu-list">
                            <li><a href="/Efatura/#services" title="efatura modül">Fatura Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura cari kart">Cari Kart Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura stok">Stok Takibi Modülü</a></li>
                            <li><a href="/Efatura/#services" title="efatura rapoarlama">Raporlama sistemi</a></li>
                            <li><a href="/Efatura/#services" title="efatura arşivleme">Arşivleme</a></li>
                            <li><a href="/Efatura/#services" title="efatura gönderme">Gönderme</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    © Copyright <strong><span>ONLINEFATURA</span></strong>. Tüm Hakları Saklıdır. ONLINEFATURA bir <a id="ayri" href="https://www.bilsoft.com/" title="www.bilsoft.com"> Bilsoft Yazılım </a>  Kuruluşudur. &nbsp;<a href="/Efatura/KVKK" title="Kullanım Şartları"<strong><span>Çerez Politikası</span></a><strong />
                </div>
            </div>
        </footer>




    </section>
    <!-- end: footer -->

</main><!-- End #main -->
