
@{
    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">
    <div style="width:100%;background-size:cover">
        <img src="~/Content/assets/img/onlinefatura kampanya (1).png" alt="Fatura online efatura kampanyaları" style="width:100%">
    </div>

    <div class="container">
        <div class="kampanya-aciklama">
            <p style="font-size: 28px" margin-bottom="revert">Açıklamalar:</p>
        </div>
        <div class="list" style="font-size:20px">
            <ul>

                <li style="padding-bottom:0.8em">Fiyatlara KDV dahil değildir.</li>
                <li style="padding-bottom:0.8em">Fiyatlar 1 yıllık sözleşme için geçerlidir.</li>
                <li style="padding-bottom:0.8em">Fiyatlara saklama ücreti dahildir.</li>
                <li style="padding-bottom:0.8em">Faturalandırma paket türüne göre aylık periyodlarla yapılmaktadır.</li>
                <li style="padding-bottom:0.8em">Kampanyadan yararlanmak için programın satın alındığı tarihten itibaren 1 ay içerisinde aktivasyon yapılması gerekir.</li>
                <li style="padding-bottom:0.8em">Hediye verilen kontör E-fatura, E-arşiv ve E-irsaliye için geçerlidir.</li>
                <li style="padding-bottom:0.8em">Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge oluşturulabilir.</li>
                <li style="padding-bottom:0.8em">Sanalfatura kampanya şartlarını değiştirme hakkını saklı tutar.</li>
                <li style="padding-bottom:0.8em">Kampanya kapsamındaki hediye kullanım süresi bittiğinde kullanıcı kendisine uygun aylık kontör miktarını seçerek dilediği E-fatura/E-arşiv paketini satın alabilir. </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</main>

<section id="kampbtn" class="kampbtn">
    <div class="container">

        <div class="button">
            <div class="text-center">
                <a class="kamp-btn" href="~/setup/sanalfatura.msi" title="e fatura indir">ÜCRETSİZ İNDİR</a>
            </div>
        </div>
    </div>
</section>
<!-- start: footer -->
<section id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>

                <div class="col-md-5 footer-item">
                    <h4>Sayfa LİNKLERİ</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Index" title="Anasayfa">Anasayfa</a></li>
                        <li><a href="/Efatura/#about" title="Kampanyalar">Hakkında</a></li>
                        <li><a href="/Efatura/#services" title="Özellikler">Özellikler</a></li>
                        <li><a href="/Efatura/Kampanyalar" title="Kampanyalar">Kampanyalar</a></li>
                        <li><a href="/Efatura/#faq" title="SSS">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/Efatura/#blog" title="Destek">Blog</a></li>
                        <li><a href="/Efatura/#contact" title="İletişim">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-5 footer-item">
                    <h4>ÖZELLİKLER</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/#services" title="efatura modül">Fatura Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura cari kart">Cari Kart Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura stok">Stok Takibi Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura rapoarlama">Raporlama sistemi</a></li>
                        <li><a href="/Efatura/#services" title="efatura arşivleme">Arşivleme</a></li>
                        <li><a href="/Efatura/#services" title="efatura gönderme">Gönderme</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                © Copyright <strong><span>ONLINEFATURA</span></strong>. Tüm Hakları Saklıdır. ONLINEFATURA bir <a id="ayri" href="https://www.bilsoft.com/" title="www.bilsoft.com"> Bilsoft Yazılım </a>  Kuruluşudur. &nbsp;<a href="/Efatura/KVKK" title="Kullanım Şartları"<strong><span>Çerez Politikası</span></a><strong />
            </div>
        </div>
    </footer>




</section>
<!-- end: footer -->

