@{
    ViewBag.Title = "Ozellikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="services" class="light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="oz_boyut">E-FATURA ÖZELLİKLERİ</h2>
                </div> <!-- /.section-title -->
            </div>
        </div>

        <div class="row">


            <div class="col-md-4 col-sm-6">

                <div class="service-content">

                    <i class="center-block ion-ios-barcode"></i>

                    <h3>STOK TAKİBİ MODÜLÜ</h3>
                    <p style="text-align:left"> <span>&bull;</span> Sınırsız Stok kartı Tanımlama</p>
                    <p style="text-align:left"> <span>&bull;</span> Barkodsuz ürünlerde otomatik barkod tanımlama</p>
                    <p style="text-align:left"> <span>&bull;</span>  Depo Hareketleri Raporunu alabilme özelliği</p>
                    <p style="text-align:left"> <span>&bull;</span> Stok grubu ve birimi tanımlama işlemleri</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-content">
                    <i class="center-block ion-person"></i>
                    <h3>CARİ KART MODÜLÜ</h3>
                    <p style="text-align:left"> <span>&bull;</span> Cari Hesap kartı tanımlama</p>
                    <p style="text-align:left"> <span>&bull;</span> Cariye Stoklu-Stoksuz Satış</p>
                    <p style="text-align:left"> <span>&bull;</span> Cariye kasa'dan ödeme ve tahsilat yapabilme</p>
                    <p style="text-align:left"> <span>&bull;</span> Cariyi borçlandırma ve alacaklandırma işlemleri</p>


                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-content">
                    <i class="center-block ion-stats-bars"></i>
                    <h3>RAPORLAMA SİSTEMİ</h3>
                    <p style="text-align:left"> <span>&bull;</span> Cari kartlara ait Hesap ekstresi</p>
                    <p style="text-align:left"> <span>&bull;</span> Stok, Depo Hareketleri,Stok listeleri raporu v.b.</p>
                    <p style="text-align:left"> <span>&bull;</span> Satış,Kar-Zarar Analizi ve Gün Sonu raporu </p>
                    <p style="text-align:left"> <span>&bull;</span> Toplu stok  ve stok hareketleri  </p>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-content">
                    <i class="center-block ion-archive"></i>
                    <h3>ARŞİVLEME</h3>
                    <p style="text-align:left"> <span>&bull;</span> Minimum 10 yıl güvenilir fatura arşivle</p>
                    <p style="text-align:left"> <span>&bull;</span> Kağıt fatura ile aynı hukuki özelliklere sahiptir.</p>
                    <p style="text-align:left"> <span>&bull;</span> Elektronik belge olarak basılır.</p>
                    <p style="text-align:left"> <span>&bull;</span>GİB'e rapor verilir.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-content">
                    <i class="center-block ion-document-text"></i>
                    <h3>FATURA MODÜLÜ</h3>
                    <p style="text-align:left"> <span>&bull;</span> Alış, Satış ve İade faturası düzenleme</p>
                    <p style="text-align:left"> <span>&bull;</span> Standart ve gramajlı ürün barkod desteği</p>
                    <p style="text-align:left"> <span>&bull;</span> İrsaliyeyi fatura dönüştürme,makbuz basımı</p>
                    <p style="text-align:left"> <span>&bull;</span> Detaylı alış, satış ve iade faturası raporu</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-content">
                    <i class="center-block ion-arrow-swap"></i>
                    <h3>GÖNDERME & TASLAK HAZIRLAMA</h3>
                    <p style="text-align:left"> <span>&bull;</span> Fatura işlemlerinizi mail alarak ve göndererek gerçekleştirebilirsiniz.</p>
                    <p style="text-align:left"> <span>&bull;</span>  Mail'lerde olduğu gibi taslak olarak hazırlayabilirsiniz.</p>

                </div>
            </div>

        </div>
    </div>
</section> <!-- /#services -->
<!-- end: our services section -->
<!-- start: footer -->
<section id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>



                <div class="col-md-5 footer-item">
                    <h4>Sayfa LİNKLERİ</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/Index" title="Anasayfa">Anasayfa</a></li>
                        <li><a href="/Efatura/#about" title="Kampanyalar">Hakkında</a></li>
                        <li><a href="/Efatura/Ozellikler" title="v">Özellikler</a></li>
                        <li><a href="/Efatura/Kampanyalar" title="Kampanyalar">Kampanyalar</a></li>
                        <li><a href="/Efatura/#faq" title="SSS">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/Efatura/#blog" title="Destek">Blog</a></li>
                        <li><a href="/Efatura/#contact" title="İletişim">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-5 footer-item">
                    <h4>ÖZELLİKLER</h4>
                    <ul class="menu-list">
                        <li><a href="/Efatura/#services" title="efatura modül">Fatura Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura cari kart">Cari Kart Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura stok">Stok Takibi Modülü</a></li>
                        <li><a href="/Efatura/#services" title="efatura rapoarlama">Raporlama sistemi</a></li>
                        <li><a href="/Efatura/#services" title="efatura arşivleme">Arşivleme</a></li>
                        <li><a href="/Efatura/#services" title="efatura gönderme">Gönderme</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                © Copyright <strong><span>ONLINEFATURA</span></strong>. Tüm Hakları Saklıdır. ONLINEFATURA bir <a id="ayri" href="https://www.bilsoft.com/" title="www.bilsoft.com"> Bilsoft Yazılım </a>  Kuruluşudur. &nbsp;<a href="Kullanim_sartlari" title="Kullanım Şartları">Çerez Politikası</a>
            </div>
        </div>
    </footer>




</section>
<!-- end: footer -->
